<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tidybot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="ros2_control_config_path" default="$(find tidybot_description)/config/tidybot_controllers.yaml"/>

    <!-- Import tidybot urdf file -->
    <xacro:include filename="$(find tidybot_description)/urdf/tidybot.xacro" />

</robot>
