<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="tidybot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>
    
        <xacro:macro name="add_joint" params="name gain">
            <joint name="${name}">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions[name]}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <param name="position_proportional_gain">${gain}</param>
            </joint>
        </xacro:macro>
        <ros2_control name="${name}" type="system">
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
        </hardware>
        <xacro:add_joint name="joint_x" gain="0.1"/>
        <xacro:add_joint name="joint_y" gain="0.1"/>
        <xacro:add_joint name="joint_th" gain="0.1"/>
        <xacro:add_joint name="joint_1" gain="0.1"/>
        <xacro:add_joint name="joint_2" gain="0.1"/>
        <xacro:add_joint name="joint_3" gain="0.1"/>
        <xacro:add_joint name="joint_4" gain="0.1"/>
        <xacro:add_joint name="joint_5" gain="0.1"/>
        <xacro:add_joint name="joint_6" gain="0.1"/>
        <xacro:add_joint name="right_finger_bottom_joint" gain="0.1"/>
        </ros2_control>

    </xacro:macro>
</robot>
