<?xml version="1.0"?>
<!--
  Robotiq 2F-85 Gripper Base Link and Assembly Helpers
  
  Uses Isaac Sim exported mesh and inertial properties for consistency
  across both Isaac Sim and Gazebo simulators.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Mesh directory -->
  <xacro:property name="mesh_dir" value="file://$(find tidybot_description)/meshes/grippers/robotiq_2f_85"/>

  <!-- Base link macro -->
  <xacro:macro name="robotiq_arg2f_base_link" params="parent prefix">
    <xacro:include filename="$(find tidybot_description)/urdf/grippers/robotiq_2f_85/robotiq_arg2f_85_model_macro.xacro" />

    <!-- Gripper base joint (added by Kinova) -->
    <joint name="${prefix}gripper_base_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}robotiq_arg2f_base_link"/>
      <origin rpy="0.0 0.0 1.57" xyz="0.0 0.0 0.0"/>
    </joint>

    <!-- Base link with Isaac Sim inertial properties -->
    <link name="${prefix}robotiq_arg2f_base_link">
      <inertial>
        <origin xyz="0.0000228 -0.0000006 0.0323229" rpy="0. 0. 0."/>
        <mass value="0.6098911"/>
        <inertia ixx="0.0005407" ixy="0." ixz="-0." iyy="0.0003629" iyz="-0." izz="0.0004747"/>
      </inertial>
      <visual>
        <origin xyz="0. 0. 0." rpy="${pi/2} 0. ${pi/2}"/>
        <geometry>
          <mesh filename="${mesh_dir}/robotiq_arg2f_85_base_link.stl"/>
        </geometry>
        <material name="">
          <color rgba="0.2 0.2 0.2 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0. 0. 0." rpy="${pi/2} 0. ${pi/2}"/>
        <geometry>
          <mesh filename="${mesh_dir}/robotiq_arg2f_85_base_link.stl"/>
        </geometry>
      </collision>
    </link>

    <gazebo reference="${prefix}robotiq_arg2f_base_link">
      <material>Gazebo/Black</material>
    </gazebo>
  </xacro:macro>

</robot>
