<?xml version="1.0"?>
<robot name="robotiq_arg2f_85_model" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="load_gripper" params="parent prefix">
    <xacro:include filename="$(find tidybot_description)/urdf/grippers/robotiq_2f_85/robotiq_arg2f.xacro" />
    <xacro:include filename="$(find tidybot_description)/urdf/grippers/robotiq_2f_85/robotiq_arg2f_85_model_macro.xacro" />

    <link name="${prefix}tool_frame"/>
    <joint name="${prefix}tool_frame_joint" type="fixed">
        <origin xyz="0 0 0.120" rpy="0 0 0" />
        <parent link="${parent}" />
        <child link="${prefix}tool_frame" />
        <axis xyz="0 0 0" />
    </joint>
    
    <!-- Gripper description -->
    <xacro:robotiq_arg2f_base_link prefix="${prefix}" parent="${parent}"/>
    <xacro:finger_links prefix="${prefix}" fingerprefix="left" stroke="85"/>
    <xacro:finger_links prefix="${prefix}" fingerprefix="right" stroke="85"/>
    <xacro:left_outer_knuckle_joint prefix="${prefix}"/>
    <xacro:right_outer_knuckle_joint prefix="${prefix}"/>

    

  </xacro:macro>
</robot>
